.underlineAnim {
  position: relative;
  cursor: pointer;
}

.underlineAnim::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underlineAnim:hover::after {
  width: 100%;
}

.active.underlineAnim::after {
  width: 100%;
}
