.animate {
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
  transform: scale(1);
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  80% {
    transform: scale(1.3);
    opacity: 0.1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes bounceDot {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  margin: 0 0.25rem;
  animation: bounceDot 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
.dot:nth-child(4) {
  animation-delay: 0.6s;
}
